@{
    
}

<div class='span9 offset2 floatShadow well bgwhite' id="srchFrm" style="text-align:center">
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin/Products/Add">Add Product
            </a>
    </div>
    <br />
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin/Products/Update">
        Update Products
            </a>
    </div>
    <br />
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin/Products/Delete">
        Delete Products
            </a>
    </div>
    <br />
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin/Products/Display">
        View All Products
            </a>
    </div>


</div>
