@{
    var db = Database.Open("Shopping");

    if (WebCache.Get("Rows") == null)
    {

        
        var res = db.Query("Select * from products");

        int count = 0;
        WebCache.Set("Rows", res, 5);

    }


    string str = "[";
    foreach (var item in WebCache.Get("Rows"))
    {
        str = str + "\"" + item.Name + "\",";


    }

    str = str + "]";
    
    if ( IsPost)
    {
        string filename ="";
        if (Request.Files[0] != null && Request.Files[0].FileName!="")
        {
            filename = Request.Files[0].FileName.Split('.')[0] ;
            
            WebImage wi = new WebImage(Request.Files[0].InputStream);
            
            wi.Save(@"~\Images\large\" + filename,"png");
            wi.Resize(157,157,false);
            
            wi.Save(@"~\Images\small\" +filename,"png");
        }
        string name = Request.Form["newname"];
        var qR=db.Query("select * from products where Name=@0",name);
        dynamic item = qR.ElementAt(0);
        
        db.
            QuerySingle
            ("Update Products set Name=@0,Price=@1,Quantity=@2,Description=@3,Image=@4,Category=@5 where Name = @6",
            
            Request["Name"]==""?item.Name:Request["Name"],
            Request["Price"]==""?item.Price:Request["Price"],
            Request["qty"]==""?item.Quantity:Request["qty"],
            Request["desc"]==""?item.Description:Request["desc"],
            filename==""?item.Image:filename+".png",
            Request["category"]==""?item.Category:Request["category"]
            ,name);
    }
        
    
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>
    .ui-autocomplete
    {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete
    {
        height: 100px;
    }
</style>
<script>
    var availableTags = @Html.Raw(str) ;
    
        
</script>




<form action="#" method="post" enctype="multipart/form-data">

    <div class="row-fluid ">

    <div class="span4 offset2" style="text-align: center">Item Name </div>
        <div class="span4" style="text-align: left">
            <input type="text" name="newname" id="tags" placeholder="Text input">
        </div>
        </div>

    <div class="row-fluid ">


        <div class="span4 offset2" style="text-align: center">New Name </div>
        <div class="span4" style="text-align: left">
            <input type="text" name="name" placeholder="Text input">
        </div>
    </div>
    <div class="row-fluid ">
        <div class="span4 offset2" style="text-align: center">New Category </div>
        <div class="span4" style="text-align: left">

            @Html.DropDownList("category", (List<SelectListItem>)AppState["List"]);
    
        </div>
        </div>
        <div class="row-fluid ">
            <div class="span4 offset2" style="text-align: center">New Quantity</div>
            <div class="span4" style="text-align: left">
                <input type="text" name="qty" placeholder="Text input">
            </div>
        </div>
        <div class="row-fluid ">
            <div class="span4 offset2" style="text-align: center">New Price</div>
            <div class="span4" style="text-align: left">
                <input type="text" name="price" placeholder="Text input">
            </div>
        </div>

        <div class="row-fluid ">
            <div class="span4 offset2" style="text-align: center">New Image</div>
            <div class="span4" style="text-align: left">
                @FileUpload.GetHtml("FileName", 1, false, false)
            </div>

        </div>
        <div class="row-fluid ">

            <div class="span4 offset2" style="text-align: center">New description  </div>
            <div class="span4" style="text-align: left">
                <textarea name="desc" placeholder="Enter Description here"></textarea>

            </div>

        </div>
    <div class="row-fluid " style="text-align: center">
    <button type="submit" class="btn btn-info"><i class="icon-white icon-plus"></i>Update </button>


</div>

</form>





<script>
    $('#tags').autocomplete({ source: availableTags });

</script>
