@{
    
    Validation.RequireField("name", "Name is Required");
    Validation.RequireField("password", "password is Required");
    
    if (IsPost && Validation.IsValid())
    {
        
        //Response.Write(Request["name"] + Request["password"]);
        if (WebSecurity.Login(Request["name"], Request["password"]) )
        {
   
         //       Response.Write("Authenticated");
                Response.Redirect("~/Admin/index.cshtml");
            
        // Server.TransferRequest(@"~\")   ;
        }
        else
        {
            <text> <div class="row-fluid"> Invalid Username or password</div></text>
        }
    }
    
    
}


<div class="row-fluid">
    <div class="span8 " style="float: right">


        <form method="post" action="~/Login">
            <table>


                <tr>
                    <td><b>Login</b> </td>
                    <td><input type="text" name="name" @Validation.For("name") />@Html.ValidationMessage("name")
                        </td>
                </tr>

                <tr>
                    <td><b>Password</b> </td>
                    <td>
                        
                        <input type="password" name="password" @Validation.For("password") />@Html.ValidationMessage("password")

                    </td>
                </tr>
                <tr>
            </table>

            <div class="span2">
            <button type="submit" class="btn btn-info"><i class="icon-white icon-plus"></i>Login</button>
                </div>
            <div class="span2">
            <button type="reset" class="btn btn-info"><i class="icon-white icon-plus"></i>Reset</button></div>

        </form>
        
    </div>
</div>
