@helper WriteProduct(string loc, string name, string id)
{
    <div class='span2'><a href='~/products/Detail/@id'> <img src='@loc' /><br />@name</a></div>}

@helper WriteCategory(string loc, string name, string id)
{
    <div class='span2'><a href='~/Category/Detail/@id'> <img src='@loc' /><br /> @name</a></div>}

@helper WriteRowProduct(string loc, string name, string id,string Price )
{
    <div class="row-fluid">
        <a href='~/products/Detail/@id'>
        <div class="span2"><img src='@loc'  /></div>
        <div class="span6"><h5>@name</h5> <br /> Price: @Price</div>
            </a>
        
        
    </div>
    <br />
}

@helper UpdateRowProduct(string id,string name, string desc,string Price )
{
    var db = Database.Open("shopping");
    //Response.Write("Trying to update");
    //Response.Write(name);
       
    db.QuerySingle("update products set Name=@0, Price=@1 , Description=@2 where Id=@3", name, Convert.ToSingle(Price), desc, Convert.ToInt32(id));
    db.Close();
}