@{
    
}


<div class='span8 offset2 floatShadow well bgwhite' style="text-align: center">
    <div class="span4 offset3">
    <table border="1" style="">
@foreach (var item in ((List<SelectListItem>)AppState["List"]))
        {
            <text>
            <tr>
                <td>@item.Value</td>
                <td>@item.Text</td>
                
                
            </tr>

            </text>
            
        }
    </table>
        </div>
    </div>