@{
    
}

<div class='span9 offset2 floatShadow well bgwhite' id="a" style="text-align:center">
    <div>
        <a class="btn btn-info" href="~/Admin/Categories/Add">Add Category
            </a>
    </div>
    <br />
    <div>
        <a class="btn btn-info" href="~/Admin/Categories/Update">
        Update Category
            </a>
    </div>
    <br />
    <div>
        <a class="btn btn-info" href="~/Admin/Categories/Display">
        View All Categories
            </a>
    </div>


</div>
