@{
    if (WebSecurity.IsAuthenticated)
    {
        if (!Roles.IsUserInRole("Admin"))
        {
            Response.Redirect("~/index.cshtml");
            return;
        }

        //<a href="~/index.cshtml">~/index.cshtml</a>

    }
    else
    {

        Response.Redirect("~/login");
    }
}


<div class='span8 offset2 floatShadow well bgwhite' id="srchFrm" style="text-align:center">
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin\Products\">Item Management</a>
        </div>
    <br />
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin\Categories\">Category Management</a>
    </div>
    <br />
    <div class="row-fluid">
        <a class="btn btn-info" href="~/Admin/AddRole">Add User to Role</a>
    </div>


</div>