@using System.Web.Mvc;
<div class='navbar' id="TopNavigationBar" style="width: inherit">
    <div class='navbar-inner '>
        <div class='container'>
            <a class='brand' href='/'>Main</a>
            <ul class='nav'>
            
                <li>
                    <a class='active' href='/'>About</a>
                </li>
                <li>
                    <a href='/'>Contact</a>
                </li>
            </ul>

            <ul class='nav' style="float: right">
                 

                @if (WebSecurity.IsAuthenticated)
                {
                    if (Roles.IsUserInRole("Admin"))
                    {
                        <li>
                        <a class='active' href='~/Admin'>Admin Panel</a>
                    </li>
                    
                    
                    }
                    
                    <text>
                    <li>

                        <a href='~/Cart/View'>View Cart</a>
                    </li>

                    <li>

                        <a href='~/Account/Profile'>Welcome @WebSecurity.CurrentUserName</a>
                    </li>
                    <li>
                        <a href='~/logout'>Logout</a>
                    </li>
                    </text>
                    
                }
                else
                {
                 //   Response.Write("Not authenticated");
                    <text>
                    <li>
                        <a href='~/Login'>Sign In</a>
                    </li>
                    <li>
                        <a href='~/Register'>Register</a>
                    </li>
                    </text>
                    
                }


            </ul>


        </div>
    </div>
</div>
