<!DOCTYPE html>
@{
    
        //  Response.Write("Test");

}
<html>
<head>
    <title>FastShop By BSEF09M039</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    <script src="~/Shared/jquery-1.8.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/css/ShoppingStyleSheet.css" rel="stylesheet">
</head>
<body style="background-image:url('/shared/imgbg.jpg')" >
    
    @RenderPage("~/shared/Header.cshtml")
    <div class="container-fluid">
     
<div class="row-fluid">
    <div class=" span10">
        
    </div>
</div>
         @RenderBody()
    </div>
    
    @RenderPage("~/shared/Footer.cshtml")


</body>
</html>


















