<div class="row-fluid">
    <div class="span2">
        <img src="~/Shared/World-of-WarCraft-Mists-of-Pandaria.jpg" width="70%" height="70%" class="img-rounded">
        Ebay 
    </div>
    <div class="span8">
        <div class='span9 offset2 floatShadow well' id ="srchFrm">

            <form class="form-search" method="post" action="~/SearchResult">
                <input id="search" name="searchTerm" class="search_special" type="text" placeholder="Type something…" />

                <select id="CatSelect" name="selected" class="unstyled ">
                    <option>Name</option>
                    <option>Category</option>
                    
                </select>

                <button class="btn btn-info"><i class="icon-white icon-search"></i>Search </button>
                <a href="AdvancedSearch.cshtml">Advanced </a>
            </form>




        </div>

    </div>
</div>